<%-include('../partials/header.ejs') %>
<div class="containerNew">
    <h1>Edit Playlist</h1>
    <form method="POST" action="/playlist/<%=idForPlaylist%>?_method=PUT">
            <fieldset>
              <label for="title">Title:</label>
              <input id ="title" type="text" name="title"
              placeholder="New name" value="<%=idOfPlaylistToEdit.title%>">
            </fieldset>
            <fieldset>
              <label for="description">Description:</label>
              <input id ="description" type="text" name="description"
              placeholder="New description" value="<%=idOfPlaylistToEdit.description%>">
            </fieldset>
              <fieldset>
                <label for="img">Image:</label>
                <input id ="img" type="text" name="img"
                placeholder="New Image link" value="<%=idOfPlaylistToEdit.img%>">
              </fieldset>
            <button>Update The Playlist</button>
          </form>
</div>
<%-include('../partials/footer.ejs') %>
