<%-include('../partials/header.ejs') %>
<%- include('../partials/nav.ejs') %>
<div class="container">
<h1><%=playlist.videoTitle[videoId]%></h1>

  <div class="itemContainer">
    <h3 class='videoDescription'><%=playlist.videoDescription[videoId]; %></h3>
      <iframe width="852" height="480" src="https://www.youtube.com/embed/<%=playlist.videoLink[videoId]%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <p><a href="/playlist/<%=playlist.id%>/<%=videoId%>/edit ">(Edit Video)</a></p>
  </div>


<%-include('../partials/footer.ejs') %>
</div>
